:root {
  --primary-color: darkorange;
  --secondary-color: orange;
}

button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: var(--secondary-color);
}
